{% extends "layout.html" %}
{% block content %}
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="display-4 mb-0">Looking for Necta Results?</h1>
          <h4 class="masthead-subheading mb-0">Search anywhere and anytime</h4>
          <a href="{{ url_for('posts.new_search') }}" class="btn btn-outline-secondary btn-lg rounded-pill mt-5">Search Now</a>
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid" src="/static/01.svg" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Get results immediately!!</h2>
              <p>We use state of the art database that scale on demand to accomodate up to 300 million requests. </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid" src="/static/03.svg" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Join our Community</h2>
              <p>Get engaged with other people pationate about results and change that goes on in our country. This can be done in the community section which allows for posts and profiles to be created and shared</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid" src="/static/04.svg" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Print your results Too!</h2>
              <p>Easily get a PDF print of the results after searching them. and you will be able to save and share them with friends and loed ones.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2019</p>
      </div>
      <!-- /.container -->
    </footer>
{% endblock content %}
